<h4><%= title_or_not move_my_post %> <small>created <%= time_ago_in_words move_my_post.created_at %> ago</small> </h4>
<!-- <h6 class="subheader">About ___ and ___.</h6> -->

<blockquote><%= move_my_post.content %></blockquote>

<div>
	GAMES:
	<%= link_to "Fridge Magnets!", posts_game_path( move_my_post, 'fridge_magnets' ), class: "tiny button secondary radius" %> 
	<%= link_to "Web Words!", posts_game_path( move_my_post, 'web_words' ), class: "tiny button secondary radius" %>
</div>